<%- include header %>
<section id="content">
<%- include archive %>
<%- include tag %>
<div id="article-page">
  <div class="control-padding">
  <h1 class="title"><%= post.title %></h1>
  <% if(user && user.name == post.name){ %>
  <p>
    <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
    <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
  </p>
  <% } %>
<p class="info">
  作者:<a href="/u/<%= post.name %>"><%= post.name %></a> | 日期:<%= post.time.minute %> | 标签:
<% if (post.tags){ %>
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <span class="tag"><%= tag %></span>
    <% } %>
  <% }) %>
<% }else{ %>暂无
<% } %>
</p>
<p><%- post.post %></p>
</div>
</div>
</section>
<%- include footer %>

